body{
margin:0;
font-size:16px;
font-family:Helvetica Neue, Helvetica, Menlo;
-webkit-font-smoothing:antialiased;
-webkit-touch-callout:none;
-webkit-user-select:none;
-khtml-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
user-select:none;
cursor:default;
overflow:hidden;
}
screen{
position:absolute;
left:0;
top:0;
right:0;
bottom:0;
}
.touchscroll{
-webkit-overflow-scrolling:touch;
}

/* MAIN */
main#screen-main{
position:absolute;
left:0;
top:0;
right:0;
bottom:0;
padding-top:59px;
overflow-y:scroll;
background:#eeeeee;

padding-bottom:92px;

padding-bottom:46px;
}
main#screen-main:before{
content:'';
display:block;
height:1px;
background:#e2e2e2;
}
main#screen-main .screen-main-item{
padding:8px 16px;
height:40px;
line-height:40px;
background:#fcfcfc;
border-bottom:1px solid #e2e2e2;
color:#444444;
font-size:18px;
font-weight:400;
-webkit-transition:.1s background-color ease;
}
main#screen-main .screen-main-item:active{
background-color:#f3f3f3;
}
main#screen-main .screen-main-item[data-list-items]:after{
content:attr(data-list-items)' item(s)';
font-size:16px;
float:right;
}
main#screen-main .screen-main-item[data-item-inv][data-item-par]:after{
content:attr(data-item-inv)'/'attr(data-item-par);
font-size:16px;
float:right;
}

/* INPUTS */
input{
font:inherit;
font-size:14px;
-webkit-appearance:none;
-webkit-border-radius:0;
border-radius:0;outline:0;
border:1px solid #cccccc;
}
input[type="submit"]{
padding:4px;
}
.full-width-input{
display:block;
width:90%;
margin:8px 5%;
padding:8px;
}
[type="submit"].full-width-input{
padding:12px;
background:#9abf6d;
border-color:#789154;
color:#ffffff;
font-size:16px;
}

/* SIDEBAR */
#sidebar-overlay{
display:none;
position:absolute;
left:0;
top:0;
right:0;
bottom:0;
background:rgba(0,0,0,0.5);
z-index:999;
}
#sidebar-overlay.show{
display:block;
}
#menu-sidebar{
display:block;
position:fixed;
left:-500px;
top:0;
bottom:0;
width:280px;
background:rgb(250,250,250);
box-shadow:3px 0 1px rgba(0,0,0,0.1);
-webkit-transition:.3s left ease;
z-index:1000;
}
#menu-sidebar.show{
left:0;
}
.sidebar-header{
position:relative;
display:block;
height:160px;
color:#ffffff;
background:rgba(124,197,82,0.95);
z-index:1001;
}
.sidebar-header .sidebar-title{
font-size:32px;
font-weight:300;
padding:8px 16px;
position:absolute;
bottom:0;
}
.sidebar-content{
position:relative;
color:#444444;
font-weight:300;
font-size:18px;
padding-top:16px;

overflow-x:hidden;
overflow-y:scroll;
position:absolute;
top:0;
left:0;
right:0;
bottom:111px;
padding-top:176px;
}
.sidebar-content-label{
-webkit-transition:.1s background ease;
padding:8px 16px;
text-decoration:none;
font-weight:500;
letter-spacing:1px;
font-size:16px;
color:#888888;
}
.sidebar-content-label.border:after{
position:relative;
left:-16px;
bottom:-8px;
content:'';
clear:both;
display:block;
width:160px;
height:1px;
background:rgba(0,0,0,0.1);
}
.sidebar-content-item{
-webkit-transition:.1s background ease;
padding:8px 16px;
text-decoration:none;
color:inherit;
}
.sidebar-content-list .sidebar-content-item{
padding-left:24px;
}
.sidebar-content-label:hover, .sidebar-content-item:hover{
background:rgba(0,0,0,0.05);
}
.sidebar-content-footer{
position:absolute;
bottom:0;
left:0;
right:0;
font-size:16px;
color:#444444;
background:rgba(0,0,0,0.1);
z-index:1001;
}

/* ADD BUTTON */
#add-button{
position:fixed;
bottom:16px;
right:16px;
width:60px;
height:60px;
background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAAfklEQVRYR+3YywoAIQiF4Xz/h+6yKCII6mjQ4ned4nw1zsVSUOQacymrEVE6pEhrhAa924EggqIAd7EIN9IQRPBUgEF9KrVbhyCCooCtZ0es8yyNBr20/wt6r7DnMwe9kggiKArwyi/C8dGU+P12e3YY1Ldi63oEERQFvn/UFXw2oBnFA8AJAAAAAElFTkSuQmCC);
background-position:center;
background-size:20px;
background-repeat:no-repeat;
background-color:/*#88ce3a*/ #3bcc83;
border-radius:50%;
box-shadow:1px 2px 8px rgba(0,0,0,0.2);
border-top:2px solid rgba(255,255,255,0.3);
border-bottom:2px solid rgba(0,0,0,0.1);
box-sizing:border-box;
opacity:0.95;
}
#add-button:active{
opacity:0.8;
}
